<h1>{{> page/title}}</h1>

<script>document.getElementById("nav_ideas").classList.add('active');</script>

<div id="idealist_container" class="container large">

  <table id="idealist" class="idealist">
    <tr>
      <th>Title</th>
      <th>Submitted By</th>
      <th>Date</th>
    </tr>

    {{#each ideas}}
      <tr>
        <td><a href="/idea/{{this.id}}">{{this.title}}</a></td>
        <td>{{this.uid}}</td>
        <td>{{this.timestamp}}</td>
      </tr>
    {{/each}}
  </table>
</div>
