<h1>{{> page/title}}</h1>

<script>document.getElementById("nav_ideas").classList.add('active');</script>

<div id="idealist_container" class="container large">

  <div id="loader" class="centered">Loading...</div>

  <table id="idealist" class="idealist hidden">
    <tr>
      <th>Title</th>
      <th>Submitted By</th>
      <th>Date</th>
    </tr>
  </table>

</div>

<!-- External idea list functions-->
<script src="/javascript/list_ideas.js"></script>

<script>
// List all ideas in the database
listAllIdeas();

// Display idea list and hide the loader
document.getElementById('loader').classList.add("hidden");
document.getElementById('idealist').classList.remove("hidden");
</script>
