<h1>{{> page/title}}</h1>
<script>document.getElementById("nav_ideas").classList.add('active');</script>

<div id="submit_container" class="container large">

  <div id="loader" class="centered">Loading...</div>

  <div id="submit_error" class="centered hidden">
    You must be logged in to submit an idea. Click <a href="/login">here</a> to log in.
  </div>

  <div id="submit" class="hidden">
    Use this form to submit a new idea. Please note that ideas cannot be edited after they are submitted (though this feature may be added in the future).
    <form onsubmit="return false;" method="post" name="submit_idea_form">
      <br>
      Title: <input type="text" maxlength="80" size="80" name="idea_title" id="idea_title" />
      <br><br>
      Description: <br> <textarea rows="10" cols="90" maxlength="2000" name="idea_description" id="idea_description"></textarea>
      <br><br>
      <input type="submit" name="submit" onclick="validate()" />
    </form>
  </div>

</div>

<!-- External submit functions-->
<script src="/javascript/submit_idea.js"></script>

<script>
// Function that runs when the form is submitted
validate = function() {
  var title = document.getElementById("idea_title").value;
  var description = document.getElementById("idea_description").value;

  // Check if the title is valid
  var error_code = isValidTitle(title);
  if (error_code === "valid") {
    alert("Title is " + error_code);
    return;
  }
  else {
    alert(error_code);
    return;
  }
}

// Display correct div and hide the loader
firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    document.getElementById('loader').classList.add("hidden");
    document.getElementById('submit').classList.remove("hidden");
  } else {
    document.getElementById('loader').classList.add("hidden");
    document.getElementById('submit_error').classList.remove("hidden");
  }
});
</script>
