body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color: #000000;
  background-color: #ffffff;
}
h2 {
  font-size: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
p {
  font-size: large;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}
p.centered {
  text-align: center;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #111;
}
.topnav a.active {
  background-color: #4CAF50;
}
div#nav_links {
  float: left;
  width: 70%;
}
div#nav_userinfo {
  float: right;
}
