<nav class="topnav">
  <div id="nav_links">
    <a id="nav_home" href="/">Home</a>
    <a id="nav_login" href="/login">Log In</a>
    <a id="nav_users" href="/users">Users</a>
    <a id="nav_ideas" href="/ideas">Ideas</a>
  </div>

  <div id="nav_userinfo">
  </div>
</nav>
