<h1>{{> page/title}}</h1>

<script>document.getElementById("nav_users").classList.add('active');</script>

<ul class="userlist">
  {{#each users}}
    <li><a href="/user/{{this.id}}">{{this.name}}</a></li>
  {{/each}}
</ul>
