<h1>{{> page/title}}</h1>

<div id="user_settings_container" class="container">

  <div id="loader" class="centered">Loading...</div>

  <div id="user_settings_error" class="centered hidden">
    Click <a href="/login">here</a> to log in.
  </div>

  <div id="user_settings" class="hidden">
    Here, you can edit your user settings. Leave a field blank to leave its value as-is. When you're done, click "Submit".
    <form onsubmit="return false;" method="post" name="user_settings_form">
      <br>
      Display Name: <input type="text" name="new_displayName" id="new_displayName" />
      <br><br>
      <input type="submit" name="submit" onclick="validate()" />
    </form>
  </div>

  <div id="user_settings_submitted" class="centered hidden">
    Settings updated successfully. Refresh the page to see your changes.
  </div>

</div>

<!-- External settings functions -->
<script src="/javascript/user_settings.js"></script>

<script>
// Function that runs when the form is submitted
validate = function() {
  var new_displayName = document.getElementById("new_displayName").value;

  // Check if new display name is valid
  if (!(isEmpty(new_displayName))) {
    var error_code = isValidDisplayName(new_displayName);
    if (error_code === "valid") {
      updateProfile(new_displayName);
    }
    else {
      alert(error_code);
      return;
    }
  }

  // Hide the settings form and tell the user that their settings have been submitted.
  document.getElementById('user_settings').classList.add("hidden");
  document.getElementById('user_settings_submitted').classList.remove("hidden");
}

// Display correct div and hide the loader
firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    document.getElementById('loader').classList.add("hidden");
    document.getElementById('user_settings').classList.remove("hidden");
  } else {
    document.getElementById('loader').classList.add("hidden");
    document.getElementById('user_settings_error').classList.remove("hidden");
  }
});
</script>
