<h1>{{> page/title}}</h1>

<div id="user_settings_container">

  <div id="loader" class="centered">Loading...</div>

  <div id="user_settings_error" class="centered">
    Click <a href="/login">here</a> to log in.
  </div>

  <div id="user_settings">
    Here, you can edit your user settings. Leave a field blank to leave its value as-is. When you're done, click "Submit".
    <form onsubmit="return false;" method="post" name="user_settings_form">
      <br>
      Display Name: <input type="text" name="new_displayName" id="new_displayName" />
      <br><br>
      <input type="submit" name="submit" onclick="validate()" />
    </form>
  </div>

  <div id="user_settings_submitted">
    Settings updated successfully. Refresh the page to see your changes.
  </div>

</div>

<script>

// Function that runs when the form is submitted
validate = function() {
  var new_displayName = document.getElementById("new_displayName").value;

  if (!(isEmpty(new_displayName))) {
    if (isInvalid(new_displayName)) {
      alert("Error: Display names can only contain letters, numbers, and underscores.");
    }
    else if (new_displayName.length < 3) {
      alert("Error: Display names must be at least three characters long.");
    }
    else if (new_displayName.length > 25) {
      alert("Error: Display names must be no more than 25 characters long.");
    }
    else {
      updateProfile(new_displayName);
    }
  }

  // Hide the settings form and tell the user that their settings have been submitted.
  document.getElementById('user_settings').style.display = 'none';
  document.getElementById('user_settings_submitted').style.display = 'block';
}

// Function that checks if a field is empty.
isEmpty = function(input) {
  return !input || !input.trim();
}

// Function that checks if a display name contains invalid characters.
isInvalid = function(input) {
  var regexp = /^[a-zA-Z0-9-_]+$/;
  if (input.search(regexp) == -1) {
    return true;
  }
  else {
    return false;
  }
}

// Function that updates a user's profile information in Firebase.
updateProfile = function(new_displayName) {
  var user = firebase.auth().currentUser;

  user.updateProfile({
    displayName: new_displayName
  }).then(function() {
    // Update successful.
  }).catch(function(error) {
    // An error occurred.
  });
}

// Display correct div and hide the loader
firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    document.getElementById('loader').style.display = 'none';
    document.getElementById('user_settings').style.display = 'block';
  } else {
    document.getElementById('loader').style.display = 'none';
    document.getElementById('user_settings_error').style.display = 'block';
  }
});

</script>
