<h1>{{user.name}}</h1>

<div id="user_container" class="container large">
  <h2>{{user.name}}'s Ideas</h2>
  <div id="loader" class="centered">Loading...</div>

  <table id="idealist" class="idealist hidden">
    <tr>
      <th>Title</th>
      <th>Date Submitted</th>
    </tr>
  </table>

</div>

<!-- External idea list functions-->
<script src="/javascript/list_ideas.js"></script>

<script>
  var uid = "{{user.id}}";
  // List all ideas submitted by this user
  listUserIdeas(uid);
</script>
