<nav class="topnav">
  <div class="nav_logo">
    <a href="/"><img src="/images/LogoText.png" alt="IdeaFlower"></a>
  </div>

  <div class="nav_links">
    <a id="nav_home" href="/">Home</a>
    <a id="nav_ideas" href="/ideas">Ideas</a>
  </div>

  <div class="nav_userinfo">
    <div class="dropdown">
      <button class="dropbtn" id="user_dropbtn"></button>
      <div class="dropdown-content" id="user_dropdown">
        <a id="profile_link" href="#">My Profile</a>
        <a href="/settings">User Settings</a>
        <a href="/submit">Submit an Idea</a>
        <a href="/logout">Log Out</a>
      </div>
    </div>

  </div>
</nav>

<!-- User dropdown controls -->
<script>

function showUserDropdown() {
  document.getElementById("user_dropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("user_dropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}

// Button controls
firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    document.getElementById("user_dropbtn").innerHTML = "Welcome, " + user.displayName + " <i class='fa fa-caret-down'></i>";
    document.getElementById("user_dropbtn").setAttribute('onclick', 'showUserDropdown()');
    document.getElementById("profile_link").href = "/user/" + user.uid;
  } else {
    document.getElementById("user_dropbtn").innerHTML = "Log In";
    document.getElementById("user_dropbtn").setAttribute('onclick', "location.href='/login';");
  }
});

</script>
