<nav class="topnav">
  <div class="nav_logo">
    <a href="/"><img src="/images/LogoText.png" alt="IdeaFlower"></a>
  </div>

  <div class="nav_links">
    <a id="nav_home" href="/">Home</a>
    <a id="nav_ideas" href="/ideas">Ideas</a>
  </div>

  <div class="nav_userinfo">
    <a id="nav_user" href="javascript:void(0);"></a>
    <a id="nav_login" href="javascript:void(0);"></a>
  </div>
</nav>
