.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #111;
}
.topnav a.active {
  background-color: #4CAF50;
}
div.nav_logo {
  float: left;
  width: 158px;
  height: 48px;
}
.nav_logo img {
  float: left;
  width: 126px;
  height: 42px;
  padding: 3px 16px;
}
.nav_logo a {
  float: left;
}
div.nav_links {
  float: left;
  height: 48px;
}
.nav_links a {
  float: left;
  padding: 14px 16px;
}
div.nav_userinfo {
  float: right;
  height: 48px;
}
.nav_userinfo a {
  float: right;
  padding: 14px 16px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add background color to dropdown button on hover */
.dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #111;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: left;
}

/* Add background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #111;
}

.show {
  display: block;
}
