body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
div {
  display: block;
}
h1 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color: #000000;
}
h2 {
  font-size: 20px;
  text-align: center;
  color: #000000;
}
p {
  font-size: large;
  text-align: left;
  color: #000000;
}
.centered {
  text-align: center;
}

div#user_settings_container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #333;
}

div#user_settings {
  display: none;
}

div#user_settings_error {
  display: none;
}
