.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #111;
}
.topnav a.active {
  background-color: #4CAF50;
}
div.nav_logo {
  float: left;
  width: 158px;
  height: 48px;
}
.nav_logo img {
  float: left;
  width: 126px;
  height: 42px;
  padding: 3px 16px;
}
.nav_logo a {
  float: left;
}
div.nav_links {
  float: left;
  height: 48px;
}
.nav_links a {
  float: left;
  padding: 14px 16px;
}
div.nav_userinfo {
  float: right;
  height: 48px;
}
.nav_userinfo a {
  float: right;
  padding: 14px 16px;
}
